/* Put custom CSS in here */

/* Just an example */
.top-container > .breadcrumbs {
	background-color: #01adef;
}

.header-container.type1 .main-nav ul.menu > li > a,
.header-container.type1 .mini-cart .mybag-link, .header-container.type11 .mini-cart .mybag-link, 
.header-container.type12 .mini-cart .mybag-link, .header-container.type15 .mini-cart .mybag-link, .header-container.type2 .mini-cart .mybag-link, 
.header-container.type8 .header .mini-cart {
	color: #6d6e70;
}

.header-container.type1 .compare-link > a, .header-container.type8 .compare-link > a, .header-container.type15 .compare-link > a, 
.header-container.type12 .compare-link > a, .header-container.type11 .compare-link > a {
	background-color: #fff!important;
}

.header-container.type1 .mini-cart .mybag-link, .header-container.type11 .mini-cart .mybag-link, .header-container.type12 .mini-cart .mybag-link, 
.header-container.type15 .mini-cart .mybag-link, .header-container.type2 .mini-cart .mybag-link, .header-container.type8 .header .mini-cart {
	background-color: #fff!important;
}

.category-products .item .details-area .actions a.addtocart {
		border:0!important;
}

.product-tabs ul {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0 0 0;
}

.product-tabs > ul li, .product-tabs > ul li.active {
	background-color: #fff;
	border:0;
}

.product-tabs > ul li a {
    color: #777;
    font-size: 16px;
}

.product-tabs .tab-content {
	border:0;
}

.product-tabs > ul li a {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 26px;
    margin: 0 0 -1px 0;
}

.product-tabs > ul li a:hover, 
.product-tabs > ul li.active {
    color: #e2068c!important;
    border-bottom: 1px solid #e2068c!important;
    text-decoration: none;
}