/* Put custom CSS in here */

/* Just an example */
.top-container > .breadcrumbs {
	background-color: #01adef;
}

.header-container.type1 .main-nav ul.menu > li > a,
.header-container.type1 .mini-cart .mybag-link, .header-container.type11 .mini-cart .mybag-link, 
.header-container.type12 .mini-cart .mybag-link, .header-container.type15 .mini-cart .mybag-link, .header-container.type2 .mini-cart .mybag-link, 
.header-container.type8 .header .mini-cart {
	color: #6d6e70;
}

.header-container.type1 .compare-link > a, .header-container.type8 .compare-link > a, .header-container.type15 .compare-link > a, 
.header-container.type12 .compare-link > a, .header-container.type11 .compare-link > a {
	background-color: #fff!important;
}

.header-container.type1 .mini-cart .mybag-link, .header-container.type11 .mini-cart .mybag-link, .header-container.type12 .mini-cart .mybag-link, 
.header-container.type15 .mini-cart .mybag-link, .header-container.type2 .mini-cart .mybag-link, .header-container.type8 .header .mini-cart {
	background-color: #fff!important;
}

.category-products .item .details-area .actions a.addtocart {
		border:0!important;
}

.product-tabs ul {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0 0 0;
}

.product-tabs > ul li, .product-tabs > ul li.active {
	background-color: #fff;
	border:0;
}

.product-tabs > ul li a {
    color: #777;
    font-size: 16px;
}

.product-tabs .tab-content {
	border:0;
}

.product-tabs > ul li a {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 26px;
    margin: 0 0 -1px 0;
}

.product-tabs > ul li a:hover, 
.product-tabs > ul li.active a {
    color: #e2068c!important;
    border-bottom: 1px solid #e2068c!important;
    text-decoration: none;
}



.ez-product-ticks li:before {
    	content: "\f00c";
    	font-family: FontAwesome;
    	display: inline-block;
    	color: #01adef;
	padding: 0 10px 0 0;
}

.ez-product-ticks li {
    padding: 7px 0;
    font-size: 16px;
}
	
.ratings a {
	color: #01adef!important;
}

.product-options dd select {
    width: 280px;
    background: #e5e5e5;
    padding: 5px;
    height: 40px;
}

.qty-holder {
    display: block;
}

.add-to-cart button.button {
    display: block !important;
    margin: 15px 0;
    clear: both;
    background: #4cb848 !important;
    width: 280px;
}

.button.button span {
	background: #4cb848 !important;
}

.product-options-bottom .add-to-links {
    position: relative;
}

.product-view .add-to-links li, .product-view .add-to-links li .separator {
    display: inline;
    position: absolute;
    top: 3px;
}

.product-view .product-essential .ratings .rating-box {
    width: 120px;
    height: 21px;
}

.product-view .product-essential .ratings .rating-box::before {
	width: 120px;
    font-size: 20px;
}

.ratings .rating-links {
    margin-top: -7px;
}

#delivery-countdown {
    color: #006400;
    background-color: #e5efe5;
    padding: 40px;
}

#delivery-countdown p::before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #006400;
    font-size: 45px;
    position: absolute;
    top: 25px;
    left: 20px;
}

#delivery-countdown p {
    margin: 0;
    display: block;
    padding: 0 0 0 40px;
}

.etalage_smallthumb_active {
    border-top: 4px solid #faa61a !important;
}

.product-view .product-essential .ratings .rating-box .rating::before {
    width: 120px!important;
    height: 21px!important;
}

.product-view .product-essential .ratings .rating-box .rating {
    height: 17px!important;
    width: 100%!important;
}

.product-view .product-essential .ratings .rating-box .rating::before {
    font-size: 20px!important;
}

.ratings .rating-links .separator {
    line-height: 26px!important;
}

.product-tabs > ul li, .product-tabs > ul li.active {
    display: block!important;
    width: 100%!important;
}